<body class="hold-transition skin-black-light sidebar-mini page-loading" data-ga-tracking-id="<%= ENV['GOOGLE_ANALYTICS_TRACKING_CODE']%>" data-hotjar-id="<%= ENV['HOTJAR_ID'] %>">
  <div class="wrapper">

    <%= render 'header' %>
    <%= render 'sidebar' %>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">

      <% unless Settings.app.global_message.blank? %>
      <div class="global-message bg-aqua">
        <span><%= Settings.app.global_message %></span>
      </div>
      <% end %>

      <div class="global-message bg-yellow hidden-md-up">
        <span>For better Strafforts user experience with more data displayed, please consider using devices with larger screens.</span>
      </div>

      <!-- Content Header (Page header) -->
      <section class="content-header">
        <ol class="breadcrumb">
          <li>
            <a class="show-overview" href="#">
              <i class="fa fa-home"></i>
              <%= Settings.app.name %>
            </a>
          </li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content" id="main-content">
        <div class='loading-icon-panel text-center'>
          <span title='Loading Data...'><i class='fa fa-spin fa-refresh'></i></span>
        </div>
      </section>
    </div><!-- /.content-wrapper -->

    <%= render 'footer' %>

    <% if @is_current_user %>
      <%= render 'settings' %>
    <% end %>

  </div><!-- ./wrapper -->

  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'athletes' %>
  <%= javascript_pack_tag 'athletes' %>

</body>
