<body id="page-top" class="homepage" data-ga-tracking-id="<%= ENV['GOOGLE_ANALYTICS_TRACKING_CODE'] %>" data-spy="scroll" data-target=".navbar-fixed-top">

  <!-- Navigation -->
  <nav class="navbar navbar-custom navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" title="Toggle Navigation Menu" data-toggle="collapse" data-target=".navbar-main-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand page-scroll" title="Page Top" href="#page-top">
          <span class="light">Stra</span>fforts
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
        <ul class="nav navbar-nav">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li>
            <a class="page-scroll" href="#about">About</a>
          </li>
          <li>
            <a class="page-scroll" href="#demo">Demo</a>
          </li>
          <li>
            <a class="page-scroll" href="#connect">Connect</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="intro">
    <div class="intro-body">
      <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="heading-text">
            <h1 class="brand-heading">
              <%= Settings.app.name %>
            </h1>
            <p class="intro-text">
              <%= Settings.app.description %>
            </p>
            <ul class="list-inline banner-social-buttons">
              <li>
                <a href="<%= @demo_path %>" class="btn btn-default btn-lg">
                  <span>View App Demo</span>
                </a>
              </li>
              <li>
                <a href="<%= @auth_url %>" class="btn-connect-with-strava" title="Connect With Strava">
                  <%= image_tag("btn_strava_connectwith_orange.png", :alt => "Connect With Strava") %>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section id="about" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>About</h2>
        <p>
          Strafforts is a web app that calls
          <%= link_to "Strava API", "https://strava.github.io/api/", target: "_blank", class: "external" %>
          to fetch athlete's
          <%= link_to "estimated best efforts", "https://support.strava.com/hc/en-us/articles/216917127-Estimated-Best-Efforts-for-Running", target: "_blank", class: "external" %>
          and <%= link_to "races", "https://support.strava.com/hc/en-us/articles/216919557-Using-Strava-Run-Type-Tags-to-analyze-your-Runs", target: "_blank", class: "external" %> data,
          then visualize them in forms of data tables, line charts and pie charts, in such way athletes can perform some analysis, like half marathon PB
          progression, fastest shoes used for a 10K race, how often 5K PB gets set, etc.
        </p>
        <p>
          This app is absolutely free and <%= link_to "open source", "https://github.com/yizeng/strafforts", target: "_blank", class: "external" %>.
          It doesn't modify any of your data on <%= link_to "Strava", "https://www.strava.com/", target: "_blank", class: "external" %> or store your Strava password.
          All you need to do is to connect this app with your Strava account by clicking "<%= link_to "Connect with Strava", "#connect" %>" button
          and wait for our background worker to fetch and visualize your data.
        </p>
      <h3>FAQ</h3>
      <p>
        <%= link_to "What are 'Estimated Best Efforts'?", "https://support.strava.com/hc/en-us/articles/216917127-Estimated-Best-Efforts-for-Running", target: "_blank", class: "external" %><br />
        <%= link_to "What are Strava races and how to create them?", "https://support.strava.com/hc/en-us/articles/216919557-Using-Strava-Run-Type-Tags-to-analyze-your-Runs", target: "_blank", class: "external" %>
      </p>
      </div>
    </div>
  </section>

  <section id="demo" class="content-section text-center">
    <div class="demo-section">
      <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="heading-text">
            <h2>Demo</h2>
            <p>See how my Strava estimated best efforts and races are visualized.</p>
            <ul class="list-inline banner-social-buttons">
              <li>
                <a href="<%= @demo_path %>" class="btn btn-default btn-lg">
                  <span>View App Demo</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="connect" class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Connect</h2>
        <p>Connect now to let Strafforts fetch and visualize your Strava best efforts and races!</p>
        </p>
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="<%= @auth_url %>" class="btn-connect-with-strava" title="Connect With Strava">
              <%= image_tag("btn_strava_connectwith_orange.png", :alt => "Connect With Strava") %>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <footer>
    <div class="container text-center">
      <p>App designed and developed by
        <%= link_to "Yi Zeng", "http://yizeng.me", target: "_blank", class: "external" %>.</p>
      <p>
        <a href="https://www.strava.com" class="btn-powered-by-strava external" title="Powered by Strava" target="_blank">
          <%= image_tag("api_logo_pwrdBy_strava_stack_light.png", :alt => "Powered by Strava") %>
        </a>
      </p>
    </div>
  </footer>

<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'home' %>

</body>
