<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= Settings.app.title %></title>

    <meta charset="utf-8">

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- SEO meta tags -->
    <meta name="author" content="Yi Zeng">
    <meta property="og:title" content="<%= Settings.app.title %>" />
    <meta property="og:locale" content="en" />
    <meta name="description" content="<%= Settings.app.html_meta_description %>" />
    <meta property="og:description" content="<%= Settings.app.html_meta_description %>" />
    <meta property="og:url" content="<%= Settings.app.production_url %>" />
    <meta name="keywords" content="<%= Settings.app.html_meta_keywords %>"/>
    <script type="application/ld+json">{"@context": "http://schema.org","@type": "WebSite","name": "Straffrots","author":"Yi Zeng","description":"<%= Settings.app.html_meta_description %>","url": "<%= Settings.app.production_url %>"}</script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
