<!DOCTYPE html>
<html lang="en">
  <head>
    <% if !@athlete.nil? %>
        <title><%= Settings.app.name %> | <%= @athlete.fullname %> | Overview</title>
    <% else %>
        <title><%= Settings.app.title %></title>
    <% end %>

    <meta charset="utf-8">

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- SEO meta tags -->
    <meta name="author" content="Yi Zeng">
    <% if !@athlete.nil? && !@athlete.fullname.blank? %>
        <meta property="og:title" content="<%= Settings.app.name %> | <%= @athlete.fullname %> | Overview" />
    <% else %>
        <meta property="og:title" content="<%= Settings.app.title %>" />
    <% end %>
    <meta property="og:locale" content="en" />
    <meta name="description" content="<%= Settings.app.html_meta_description_for_athletes %><%= (@athlete.nil?) ? "Strava User" : @athlete.fullname %>." />
    <meta property="og:description" content="<%= Settings.app.html_meta_description_for_athletes %><%= (@athlete.nil?) ? "Strava User" : @athlete.fullname %>." />
    <meta property="og:url" content="<%= Settings.app.production_url %>" />
    <meta name="keywords" content="<%= Settings.app.html_meta_keywords %><%= (@athlete.nil?) ? "Strava User" : @athlete.fullname %>"/>
    <script type="application/ld+json">{"@context": "http://schema.org","@type": "WebSite","name": "Straffrots","author":"Yi Zeng","description":"<%= Settings.app.html_meta_description_for_athletes %><%= (@athlete.nil?) ? "Strava User" : @athlete.fullname %>.","url": "<%= Settings.app.production_url %>/athletes/<%= @athlete.id %>"}</script>

    <%= csrf_meta_tags %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag 'html5shiv/dist/html5shiv.min' %>
      <%= javascript_include_tag 'respond.js/dest/respond.min' %>
    <![endif]-->

    <%= stylesheet_pack_tag 'athletes', media: 'all' %>

    <link rel="dns-prefetch" href="//fonts.googleapis.com/">
  </head>

  <%= yield %>
</html>
