<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @error_page_title %></title>

    <meta charset="utf-8">

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <!-- SEO meta tags -->
    <meta name="author" content="Yi Zeng">
    <meta property="og:title" content="<%= Settings.app.title %>" />
    <meta property="og:locale" content="en" />
    <meta name="description" content="<%= Settings.app.html_meta_description %>" />
    <meta property="og:description" content="<%= Settings.app.html_meta_description %>" />
    <meta property="og:url" content="<%= Settings.app.production_url %>" />
    <meta name="keywords" content="<%= Settings.app.html_meta_keywords %>"/>
    <script type="application/ld+json">{"@context": "http://schema.org","@type": "WebSite","name": "Straffrots","author":"Yi Zeng","description":"<%= Settings.app.html_meta_description %>","url": "<%= Settings.app.production_url %>"}</script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'home', media: 'all' %>
    <%= stylesheet_link_tag 'errors', media: 'all' %>
  </head>

  <body id="page-top" class="error-page" data-error-code="<%= @error_code %>" data-ga-tracking-id="<%= ENV['GOOGLE_ANALYTICS_TRACKING_CODE'] %>" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand page-scroll" href="/">
            <span class="light">Stra</span>fforts
          </a>
        </div>
      </div>
      <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="heading-text">
                <h1 class="brand-heading"><%= @error_code %> <%= @error_title %></h1>
                <p class="intro-text"><%= @error_text %></p>
                <ul class="list-inline banner-social-buttons">
                  <li>
                    <a href="/" class="btn btn-default btn-lg">
                      <span>Go to Homepage</span>
                    </a>
                  </li>
                  <li>
                    <a href="<%= Settings.app.contact_url %>" class="btn btn-default btn-lg">
                      <span>Contact Us</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'errors' %>
    <%= javascript_include_tag 'home' %>

  </body>
</html>
